-# haml
!!!
%title="CSS Selector Feed - #{@x.url}"
%link(href='/dist/css/bootstrap.css' rel='stylesheet' type='text/css')
%link(href='/dist/css/bootstrap-theme.css' rel='stylesheet' type='text/css')
%link(href='/dist/app.css' rel='stylesheet' type='text/css')
%link{href: "/feed/#{params[:id]}", rel: 'alternate', title: 'feed', type: 'application/rss+xml'}
%script(src="https://code.jquery.com/jquery.js")
%script(src='/dist/app.js')
%script(src='/dist/js/bootstrap.min.js')
%meta(charset="utf-8")
%meta(http-equiv="X-UA-Compatible" content="IE=edge")
.container
  .app
    %h1 Generate Feed from CSS Selector
    %h2 Edit Feed
    .row
      .col-md-2=''
      .col-md-8
        %form(action='/submit' method='POST' role="form")
          !=csrf_tag
          .form-group
            %label(for="url") 
              URL
              %span.alert *Required
            %input#url.form-control(name="url"){value: @x.url}
          .form-group
            %label(for="list") 
              Selector for Articles' List
              %span.alert *Required
            %input#list.form-control(name="list"){value: @x.list}
          .form-group
            %label(for="article") 
              Selector for Text extraction
              %span *Optional
            %input#article.form-control(name="article"){value: @x.article}
          .button
            %button.btn.btn-primary Submit
      .col-md-2=''
    %h2
      %a{href: "/feed/#{params[:id]}"} Generated Feed
    %h2 Generated Article List
    .row.list
      .col-md-2=''
      .col-md-8
        %ul
          -@x.articles.each do |a|
            %li 
              %a{href: a.url}=a.title
      .col-md-2=''
    .row
      .col-md-12
        %a{href: 'http://twitter.com/ssig33', target: '_blank'} @ssig33

.hidden

