-# haml
!!!
%title CSS Selector Feed
<link ref="stylesheet" href="https://unpkg.com/normalize.css/normalize.css" type="text/css" />
<link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css" />
%meta(charset="utf-8")
%meta(http-equiv="X-UA-Compatible" content="IE=edge")
%div
  %h1 Generate Feed from CSS Selector
  %h2 Create Feed
  %div
    %form(action='/feed' method='GET' role="form")
      %p
        %label(for="url") 
          URL
          %span.alert *Required
        %input#url(name="url" placeholder="https://ascii.jp/serialarticles/132740/")
      %p
        %label(for="list") 
          Selector for Articles' List
          %span.alert *Required
        %input#list(name="list" placeholder="li h2 a")
      %p
        %button Submit
  %footer(style="margin-top: 20px;")
    %p
      %a{href: 'https://twitter.com/ssig33', target: '_blank'} @ssig33
      %br
      %a{href: 'https://github.com/ssig33/selectorfeed', target: '_blank'} source


:css
  .alert{
    color: red;
  }
  input{
    width: 100%;
  }
